.tor-config/
modules/home/apps/emacs/emacs.zip

# matugen runtime files inside the templates tree
modules/home/services/matugen/templates/cozy-ui/assets/
modules/home/services/matugen/templates/blacklingerie/originals/
# matugen template outputs that render back into the templates tree.
modules/home/services/matugen/templates/cozy-ui/colors.sh
modules/home/services/matugen/templates/blacklingerie/colors.sh
modules/home/services/matugen/templates/papirus-icons/colors-final
