layout {

    focus-ring {
        active-color   "#67e4e4"
        inactive-color "#192224"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#67e4e4"
        inactive-color "#192224"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#19222470"
    }

    tab-indicator {
        active-color   "#67e4e4"
        inactive-color "#0c8d8d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#67e4e480"
    }
}

recent-windows {
    highlight {
        active-color "#67e4e4"
        urgent-color "#fd4663"
    }
}
