      window {
          background-color: #191724;
          color: #e0def4;
          border: 2px solid #eb6f92;
          border-radius: 12px;
          margin: 10px;
      }

      #input {
          background-color: #26233a;
          color: #e0def4;
          border: none;
          border-radius: 8px;
          margin: 10px;
      }

      #inner-box {
          background-color: #191724;
      }

      #outer-box {
          background-color: #191724;
      }

      #text {
          color: #e0def4;
      }

      #entry:selected {
          background-color: #eb6f92;
      }

      #entry:selected #text {
          color: #191724;
      }