alice_password: ENC[AES256_GCM,data:PLACEHOLDER,iv:PLACEHOLDER,tag:PLACEHOLDER,type:str]
whatter_password: ENC[AES256_GCM,data:PLACEHOLDER,iv:PLACEHOLDER,tag:PLACEHOLDER,type:str]
cheshire_password: ENC[AES256_GCM,data:PLACEHOLDER,iv:PLACEHOLDER,tag:PLACEHOLDER,type:str]
wifi_password: ENC[AES256_GCM,data:PLACEHOLDER,iv:PLACEHOLDER,tag:PLACEHOLDER,type:str]
sops:
    age:
        - recipient: age1yoursopspublickeyhere
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            PLACEHOLDER
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-05-10T00:28:46Z"
    mac: ENC[AES256_GCM,data:PLACEHOLDER,iv:PLACEHOLDER,tag:PLACEHOLDER,type:str]
    unencrypted_suffix: _unencrypted
    version: 3.12.1
